$primary: rgba(63, 82, 181, 1);
$primary-0: $primary;
$primary-1: rgba(136, 149, 220, 1);
$primary-2: rgba(94, 110, 199, 1);
$primary-3: rgba(33, 55, 170, 1);
$primary-4: rgba(19, 37, 132, 1);

$secondary-1: rgba(255, 164, 65, 1);
$secondary-1-0: $secondary-1;
$secondary-1-1: rgba(255, 202, 143, 1);
$secondary-1-2: rgba(255, 181, 100, 1);
$secondary-1-3: rgba(249, 139, 19, 1);
$secondary-1-4: rgba(192, 102, 5, 1);

$secondary-2: rgba(48, 135, 168, 1);
$secondary-2-0: $secondary-2;
$secondary-2-1: rgba(124, 189, 214, 1);
$secondary-2-2: rgba(79, 159, 189, 1);
$secondary-2-3: rgba(18, 118, 156, 1);
$secondary-2-4: rgba(8, 90, 121, 1);

$complement: rgba(255, 200, 65, 1);
$complement-0: $complement;
$complement-1: rgba(255, 223, 143, 1);
$complement-2: rgba(255, 210, 100, 1);
$complement-3: rgba(249, 183, 19, 1);
$complement-4: rgba(192, 138, 5, 1);

// from http://paletton.com/#uid=73T2m0knTyAd+N9jqEPt-vevfo9
