// THEME COLORS
@import 'colors';
@import 'builtin-colors';

// MATERIAL DESIGN COMPONENTS

.material:focus {
  outline: 0 !important;
}

// START FLAT BUTTON
.material[type=button].flat,
.material[type=submit].flat,
.material[type=reset].flat,
button.material.flat {
  min-width: 88px;
  height: 36px;
  margin-top: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 0px;
  border-radius: 2px;
  background-color: transparent;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;

  &.light {
    overflow: hidden;
    color: rgb(65, 65, 65);

    &:hover {
      background-color: rgba(153, 153, 153, 0.2);
    }

    &:active {
      background-color: rgba(153, 153, 153, 0.4);
    }

    &:disabled {
      color: rgba(0, 0, 0, 0.26);
      background-color: transparent !important;
    }
  }

  &.dark {
    color: white;

    &:hover {
      background-color: rgba(204, 204, 204, 0.15);
    }

    &:active {
      background-color: rgba(204, 204, 204, 0.25);

      &::before {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 6px;
        height: 6px;
        border: 3px solid rgba(255, 255, 255, 0.3);
        border-radius: 2px;
        content: ' ';
      }

      &::after {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 6px;
        height: 6px;
        border: 3px solid rgba(255, 255, 255, 0.3);
        border-radius: 2px;
        content: ' ';
      }
    }

    &:disabled {
      color: rgba(255, 255, 255, 0.3);
      background-color: transparent !important;
    }
  }
}
// END FLAT BUTTON

// START RAISED BUTTON
.material[type=button].raised,
.material[type=submit].raised,
.material[type=reset].raised,
button.material.raised {
  min-width: 88px;
  height: 36px;
  margin-top: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 0px;
  border-radius: 2px;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);

  -webkit-transition: background-color 0.2s, -webkit-box-shadow 0.2s, box-shadow 0.2s;
  -moz-transition: background-color 0.2s, -moz-box-shadow 0.2s, box-shadow 0.2s;
  -o-transition: background-color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s, -moz-box-shadow 0.2s, -webkit-box-shadow 0.2s;

  &.light {
    color: rgb(65, 65, 65);
    background-color: rgb(224, 224, 224);

    &:active {
      background-color: rgb(214, 214, 214);
      -webkit-box-shadow: 0px 9px 21px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 9px 21px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 9px 21px rgba(0, 0, 0, 0.3);
    }

    &:disabled {
      color: rgba(0, 0, 0, 0.26);
      background-color: rgba(0, 0, 0, 0.12);
    }
  }

  &.dark {
    color: white;
    background-color: $secondary-1;

    &:active {
      background-color: lighten($secondary-1, 10%);
      -webkit-box-shadow: 0px 9px 21px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 9px 21px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 9px 21px rgba(0, 0, 0, 0.3);
    }

    &:disabled {
      color: rgba(255, 255, 255, 0.3);
      background-color: rgba(255, 255, 255, 0.12);
    }
  }

  &:disabled {
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
  }
}
// END RAISED BUTTON

// START FLOATING BUTTON
.material[type=button].floating,
.material[type=submit].floating,
.material[type=reset].floating,
button.material.floating {
  width: 56px;
  height: 56px;
  padding: 11px 17px 18px 17px;
  background-color: $secondary-1;
  color: rgb(255, 255, 255);
  border-radius: 28px;
  border: 0px;
  text-transform: uppercase;
  line-height: 0px;
  font-size: 26px;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  margin: 10px;

  -webkit-transition: background-color 0.2s, -webkit-box-shadow 0.2s, box-shadow 0.2s;
  -moz-transition: background-color 0.2s, -moz-box-shadow 0.2s, box-shadow 0.2s;
  -o-transition: background-color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s, -moz-box-shadow 0.2s, -webkit-box-shadow 0.2s;

  &.light {
    &:active {
      background-color: darken($secondary-1, 3%);
    }
    &:disabled {
      color: rgba(255, 255, 255, 0.6);
      background-color: rgb(209, 209, 209);
    }
  }
  &.dark {
    &:active {
      background-color: lighten($secondary-1, 10%);
    }
    &:disabled {
      color: rgba(255, 255, 255, 0.3);
      background-color: rgb(75, 75, 75);
    }
  }
  &:active {
    background-color: lighten($secondary-1, 10%);
    -webkit-box-shadow: 0px 9px 21px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 9px 21px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 9px 21px rgba(0, 0, 0, 0.3);
  }
  &:disabled {
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
  }
}
// END FLOATING BUTTON

// START SINGLE-LINE TEXT FIELD
.material {
  &[type=text],
  &[type=password],
  &[type=email],
  &[type=number],
  &[type=search],
  &[type=tel],
  &[type=url] {
    border: 0px;
    background-color: transparent !important;
    border-radius: 0px;
    padding: 7px 2px 7px 2px;
    font-size: 13px;
    margin-bottom: 1px;

    transition: border-bottom-color 0.2s;
    -moz-transition: border-bottom-color 0.2s;
    -webkit-transition: border-bottom-color 0.2s;
    -o-transition: border-bottom-color 0.2s;

    &.light {
      color: black;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);

      &:disabled {
        border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
      }
    }
    &.dark {
      color: white;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);

      &:disabled {
        border-bottom: 1px dotted rgba(255, 255, 255, 0.4);
      }
    }
    &:hover {
      border-bottom: 1px solid transparentize($secondary-1, 0.5);
    }
    &:focus {
      border-bottom: 2px solid $secondary-1;
      margin-bottom: 0px;
    }
    &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
      color: rgba(153, 153, 153, 0.8);
    }
    &:-moz-placeholder, &::-moz-placeholder {
      opacity: 1;
    }
    & + .error {
      display: none;
    }
    &[error] {
      border-bottom: 1px solid $error;

      &:focus {
        border-bottom: 2px solid $error;
      }
      &:disabled {
        border-bottom: 1px dotted transparentize($error, 0.6);

        & + .error {
          color: transparentize($error, 0.6);
        }
      }
      & + .error {
        display: block;
        position: relative;
        top: 2px;
        color: $error;
        font-size: 11px;
      }
    }
  }
}
// END SINGLE-LINE TEXT FIELD

// START MULTI-LINE TEXT FIELD
textarea.material {
  border: 0px;
  background-color: transparent;
  border-radius: 0px;
  padding: 7px 2px 7px 2px;
  font-size: 13px;
  margin-bottom: 0px;

  transition: border-bottom 0.2s, margin-bottom 0.2s;
  -moz-transition: border-bottom 0.2s, margin-bottom 0.2s;
  -webkit-transition: border-bottom 0.2s, margin-bottom 0.2s;
  -o-transition: border-bottom 0.2s, margin-bottom 0.2s;

  &.light {
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);

    &:disabled {
      border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
    }
  }
  &.dark {
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);

    &:disabled {
      border-bottom: 1px dotted rgba(255, 255, 255, 0.4);
    }
  }
  &:hover {
    border-bottom: 1px solid transparentize($secondary-1, 0.5);
  }
  &:focus {
    border-bottom: 2px solid $secondary-1;
  }
  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
    color: rgba(153, 153, 153, 0.8);
  }
  &:-moz-placeholder, &::-moz-placeholder {
    opacity: 1;
  }
  & + .error {
    display: none;
  }
  &[error] {
    border-bottom: 1px solid $error;

    &:focus {
      border-bottom: 2px solid $error;
    }
    &:disabled {
      border-bottom: 1px dotted transparentize($error, 0.6);

      & + .error {
        color: transparentize($error, 0.6);
      }
    }
    & + .error {
      display: block;
      position: relative;
      top: -4px;
      color: $error;
      font-size: 11px;
    }
  }
}
// END MULTI-LINE TEXT FIELD

// START CHECKBOX
.material[type=checkbox] {
  position: relative;
  width: 14px;
  height: 14px;
  padding: 0px;

  appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border-radius: 2px;
  background-color: transparent;

  transition: box-shadow 0.2s, border 0.2s, background-color 0.2s;
  -moz-transition: box-shadow 0.2s, border 0.2s, background-color 0.2s;
  -webkit-transition: box-shadow 0.2s, border 0.2s, background-color 0.2s;
  -o-transition: box-shadow 0.2s, border 0.2s, background-color 0.2s;

  &.light {
    border: 2px solid rgba(0, 0, 0, 0.54);

    & + label {
      color: rgba(0, 0, 0, 0.8);
    }
    &:checked {
      &::before {
        color: rgba(255, 255, 255, 0.8);
      }
      &::after {
        color: rgba(255, 255, 255, 0.8);
      }
      &:active {
        box-shadow: 0px 0px 0px 14px rgba(0, 0, 0, 0.1);
      }
    }
    &:active {
      box-shadow: 0px 0px 0px 14px transparentize($secondary-1, 0.8);
    }
    &:disabled {
      border: 2px solid rgba(0, 0, 0, 0.26);

      &:checked {
        background-color: rgba(0, 0, 0, 0.26);
      }
    }
  }
  &.dark {
    border: 2px solid rgba(255, 255, 255, 0.7);

    & + label {
      color: rgba(255, 255, 255, 0.8);
    }
    &:checked {
      &::before {
        color: rgba(255, 255, 255, 0.8);;
      }
      &::after {
        color: rgba(255, 255, 255, 0.8);;
      }
      &:active {
        box-shadow: 0px 0px 0px 14px rgba(255, 255, 255, 0.1);
      }
    }
    &:active {
      box-shadow: 0px 0px 0px 14px transparentize($secondary-1, 0.8);
    }
    &:disabled {
      border: 2px solid rgba(255, 255, 255, 0.3);

      &:checked {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
  &:checked {
    position: relative;
    top: -6px;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    border: 2px solid $secondary-1;
    background-color: $secondary-1;

    &::before {
      position: relative;
      top: -10px;
      left: -11px;
      transform: rotate(-55deg);
      display: inline-block;
      content: '|';
      font-family: Arial;
      font-size: 22px;
    }
    &::after {
      position: relative;
      top: -35px;
      left: 4px;
      transform: rotate(35deg);
      display: inline-block;
      content: '|';
      font-family: Arial;
      font-size: 22px;
    }

    &:disabled {
      border: 2px solid transparent;

      &::before {
        // top: -9px;
      }
      &::after {
        // top: -11px;
      }
    }
  }
}
// END CHECKBOX

// START TOGGLE SWITCH
.material.switch>input[type=checkbox] {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;

  & + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 2px;
    width: 38px;
    height: 14px;
    background-color: rgba(0, 0, 0, 0.26);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;

    &::before, &::after {
      display: block;
      position: absolute;
      top: 1px;
      left: 1px;
      bottom: 1px;
      content: "";
    }
    &::before {
      right: 1px;
      background-color: rgba(0, 0, 0, 0.26);
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      -ms-border-radius: 60px;
      -o-border-radius: 60px;
      border-radius: 60px;
      -webkit-transition: background 0.4s;
      -moz-transition: background 0.4s;
      -o-transition: background 0.4s;
      transition: background 0.4s;
    }
    &::after {
      position: relative;
      top: -5px;
      left: -2px;
      width: 20px;
      height: 20px;
      background-color: rgb(250, 250, 250);
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

      -webkit-transition: margin 0.2s, background-color 0.2s, -webkit-box-shadow 0.2s;
      -moz-transition: margin 0.2s, background-color 0.2s, -moz-box-shadow 0.2s;
      -o-transition: margin 0.2s, background-color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
      transition: margin 0.2s, background-color 0.2s, box-shadow 0.2s, -moz-box-shadow 0.2s, -webkit-box-shadow 0.2s;
    }
  }

  &:checked {
    & + label {
      &::before {
        background-color: transparentize($secondary-1, 0.5);
      }
      &::after {
        background-color: $secondary-1;
        margin-left: 18px;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      }
    }
  }
  &:disabled {
    & + label {
      cursor: default;

      &::before {
        background-color: rgba(0, 0, 0, 0.12);
      }
      &::after {
        background-color: rgb(189, 189, 189);
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      }
    }

    &:checked {
      & + label {
        &::before {
          background-color: rgba(0, 0, 0, 0.12);
        }
        &::after {
          background-color: rgb(189, 189, 189);
          margin-left: 18px;
          -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
// END TOGGLE SWITCH

// START RADIO BUTTON
.material[type=radio] {
  position: relative;
  width: 14px;
  height: 14px;
  padding: 0px;
  margin: 10px;

  appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border-radius: 8px;
  background-color: transparent;

  transition: box-shadow 0.2s, border 0.2s, background-color 0.2s;
  -moz-transition: box-shadow 0.2s, border 0.2s, background-color 0.2s;
  -webkit-transition: box-shadow 0.2s, border 0.2s, background-color 0.2s;
  -o-transition: box-shadow 0.2s, border 0.2s, background-color 0.2s;

  &.light {
    border: 2px solid rgba(0, 0, 0, 0.54);

    & + label {
      color: rgba(0, 0, 0, 0.8);
    }

    &:checked {
      border: 2px solid $secondary-1;

      &::before {
        content: " ";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 0px;
        height: 0px;
        border: 3px solid $secondary-1;
        border-radius: 3px;
      }
      &:active {
        box-shadow: 0px 0px 0px 11px rgba(0, 0, 0, 0.1);
      }
      &:disabled {
        &::before {
          content: " ";
          position: absolute;
          top: 2px;
          left: 2px;
          width: 0px;
          height: 0px;
          border: 3px solid rgba(0, 0, 0, 0.26);
          border-radius: 3px;
        }
      }
    }
    &:active {
      box-shadow: 0px 0px 0px 11px transparentize($secondary-1, 0.8);
    }
    &:disabled {
      border: 2px solid rgba(0, 0, 0, 0.26);
    }
  }
  &.dark {
    border: 2px solid rgba(255, 255, 255, 0.7);

    & + label {
      color: rgba(255, 255, 255, 0.8);
    }

    &:checked {
      border: 2px solid $secondary-1;

      &::before {
        content: " ";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 0px;
        height: 0px;
        border: 3px solid $secondary-1;
        border-radius: 3px;
      }
      &:active {
        box-shadow: 0px 0px 0px 11px rgba(255, 255, 255, 0.1);
      }
      &:disabled {
        &::before {
          content: " ";
          position: absolute;
          top: 2px;
          left: 2px;
          width: 0px;
          height: 0px;
          border: 3px solid rgba(255, 255, 255, 0.3);
          border-radius: 3px;
        }
      }
    }
    &:active {
      box-shadow: 0px 0px 0px 11px transparentize($secondary-1, 0.8);
    }
    &:disabled {
      border: 2px solid rgba(255, 255, 255, 0.3);
    }
  }
}
// END RADIO BUTTON

// START SLIDER
input[type=range].material {
  -webkit-appearance: none;
  width: 100%;
  margin: 18px 0;

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;

    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;

    border: 0px;
    -webkit-appearance: none;
  }
  &::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    border: 0px;

    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  &::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    border-width: 2px 0;
    border-color: transparent;
    color: transparent;
    background: transparent;

    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  // &::-webkit-slider-thumb, &::-moz-range-thumb, &::-ms-thumb {
  //  width: 12px;
  //  height: 12px;
  //  border: 2px solid rgba(0, 0, 0, 0.26);
  //  background-color: rgb(235, 235, 235);
  //  border-radius: 12px;
  //  cursor: pointer;
  //  margin-top: -5px;

  //  -webkit-transition: background-color 0.2s, box-shadow 0.2s, border 0.2s;
  //  -moz-transition: background-color 0.2s, box-shadow 0.2s, border 0.2s;
  //  -o-transition: background-color 0.2s, box-shadow 0.2s, border 0.2s;
  //  transition: background-color 0.2s, box-shadow 0.2s, border 0.2s;
  // }
  &::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    border: 2px solid rgba(0, 0, 0, 0.26);
    background-color: rgb(235, 235, 235);
    border-radius: 12px;
    cursor: pointer;
    margin-top: -5px;

    -webkit-transition: background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -moz-transition: background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -o-transition: background-color 0.2s, box-shadow 0.2s, border 0.2s;
    transition: background-color 0.2s, box-shadow 0.2s, border 0.2s;

    -webkit-appearance: none;
  }
  &::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border: 2px solid rgba(0, 0, 0, 0.26);
    background-color: rgb(235, 235, 235);
    border-radius: 12px;
    cursor: pointer;
    margin-top: -5px;

    -webkit-transition: background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -moz-transition: background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -o-transition: background-color 0.2s, box-shadow 0.2s, border 0.2s;
    transition: background-color 0.2s, box-shadow 0.2s, border 0.2s;
  }
  &::-ms-thumb {
    width: 12px;
    height: 12px;
    border: 2px solid rgba(0, 0, 0, 0.26);
    background-color: rgb(235, 235, 235);
    border-radius: 12px;
    cursor: pointer;
    margin-top: -5px;

    -webkit-transition: background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -moz-transition: background-color 0.2s, box-shadow 0.2s, border 0.2s;
    -o-transition: background-color 0.2s, box-shadow 0.2s, border 0.2s;
    transition: background-color 0.2s, box-shadow 0.2s, border 0.2s;
  }

  &:focus {
    outline: none;
  }
  &:active {
    // &::-webkit-slider-thumb, &::-moz-range-thumb, &::-ms-thumb {
    //  box-shadow: 0px 0px 0px 14px transparentize($secondary-1, 0.8);
    // }
    &::-webkit-slider-thumb {
      box-shadow: 0px 0px 0px 14px transparentize($secondary-1, 0.8);
    }
    &::-moz-range-thumb {
      box-shadow: 0px 0px 0px 14px transparentize($secondary-1, 0.8);
    }
    &::-ms-thumb {
      box-shadow: 0px 0px 0px 14px transparentize($secondary-1, 0.8);
    }
  }
  &:disabled {
    // &::-webkit-slider-thumb, &::-moz-range-thumb, &::-ms-thumb {
    //  width: 8px;
    //  height: 8px;
    //  border-radius: 6px;
    //  margin-top: -3px;
    // }
    &::-webkit-slider-thumb {
      width: 8px;
      height: 8px;
      border-radius: 6px;
      margin-top: -3px;
    }
    &::-moz-range-thumb {
      width: 8px;
      height: 8px;
      border-radius: 6px;
      margin-top: -3px;
    }
    &::-ms-thumb {
      width: 8px;
      height: 8px;
      border-radius: 6px;
      margin-top: -3px;
    }

    &:active {
      // &::-webkit-slider-thumb, &::-moz-range-thumb, &::-ms-thumb {
      //  box-shadow: 0px 0px 0px 0px transparent;
      // }
      &::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px 0px transparent;
      }
      &::-moz-range-thumb {
        box-shadow: 0px 0px 0px 0px transparent;
      }
      &::-ms-thumb {
        box-shadow: 0px 0px 0px 0px transparent;
      }
    }
  }

  &.light {
    // &::-webkit-slider-runnable-track, &::-moz-range-track, &::-ms-track, &::-ms-fill-lower, &::-ms-fill-upper {
    //  background: rgba(0, 0, 0, 0.26);
    //  background-color: rgba(0, 0, 0, 0.26);
    // }
    &::-webkit-slider-runnable-track {
      background-color: rgba(0, 0, 0, 0.26);
    }
    &::-moz-range-track {
      background: rgba(0, 0, 0, 0.26);
      background-color: rgba(0, 0, 0, 0.26);
    }
    &::-ms-track, &::-ms-fill-lower, &::-ms-fill-upper {
      background: rgba(0, 0, 0, 0.26);
      background-color: rgba(0, 0, 0, 0.26);
    }
    // &::-webkit-slider-thumb, &::-moz-range-thumb, &::-ms-thumb {
    //  border: 2px solid rgba(0, 0, 0, 0.26);
    //  background-color: rgb(235, 235, 235);
    // }
    &::-webkit-slider-thumb {
      border: 2px solid rgba(0, 0, 0, 0.26);
      background-color: rgb(235, 235, 235);
    }
    &::-moz-range-thumb {
      border: 2px solid rgba(0, 0, 0, 0.26);
      background-color: rgb(235, 235, 235);
    }
    &::-ms-thumb {
      border: 2px solid rgba(0, 0, 0, 0.26);
      background-color: rgb(235, 235, 235);
    }

    &:active {
      // &::-webkit-slider-runnable-track, &::-moz-range-track, &::-ms-track, &::-ms-fill-lower, &::-ms-fill-upper {
      //  background: $secondary-1;
      // }
      &::-webkit-slider-runnable-track {
        background-color: $secondary-1;
      }
      &::-moz-range-track {
        background: $secondary-1;
        background-color: $secondary-1;
      }
      &::-ms-track, &::-ms-fill-lower, &::-ms-fill-upper {
        background: $secondary-1;
        background-color: $secondary-1;
      }
      // &::-webkit-slider-thumb, &::-moz-range-thumb, &::-ms-thumb {
      //  border: 4px solid $secondary-1;
      //  background-color: $secondary-1;
      // }
      &::-webkit-slider-thumb {
        border: 4px solid $secondary-1;
        background-color: $secondary-1;
      }
      &::-moz-range-thumb {
        border: 4px solid $secondary-1;
        background-color: $secondary-1;
      }
      &::-ms-thumb {
        border: 4px solid $secondary-1;
        background-color: $secondary-1;
      }
    }
    &:disabled {
      // &::-webkit-slider-runnable-track, &::-moz-range-track, &::-ms-track, &::-ms-fill-lower, &::-ms-fill-upper {
      //  background: rgba(0, 0, 0, 0.26);
      //  background-color: rgba(0, 0, 0, 0.26);
      // }
      &::-webkit-slider-runnable-track {
        background-color: rgba(0, 0, 0, 0.26);
      }
      &::-moz-range-track {
        background: rgba(0, 0, 0, 0.26);
        background-color: rgba(0, 0, 0, 0.26);
      }
      &::-ms-track, &::-ms-fill-lower, &::-ms-fill-upper {
        background: rgba(0, 0, 0, 0.26);
        background-color: rgba(0, 0, 0, 0.26);
      }
      // &::-webkit-slider-thumb, &::-moz-range-thumb, &::-ms-thumb {
      //  border: 2px solid rgba(0, 0, 0, 0.26);
      //  outline: 2px solid rgb(235, 235, 235);
      //  background-color: rgb(235, 235, 235);
      // }
      &::-webkit-slider-thumb {
        border: 2px solid rgba(0, 0, 0, 0.26);
        outline: 2px solid rgb(235, 235, 235);
        background-color: rgb(235, 235, 235);
      }
      &::-moz-range-thumb {
        border: 2px solid rgba(0, 0, 0, 0.26);
        outline: 2px solid rgb(235, 235, 235);
        background-color: rgb(235, 235, 235);
      }
      &::-ms-thumb {
        border: 2px solid rgba(0, 0, 0, 0.26);
        outline: 2px solid rgb(235, 235, 235);
        background-color: rgb(235, 235, 235);
      }
      &:active {
        // &::-webkit-slider-runnable-track, &::-moz-range-track, &::-ms-track, &::-ms-fill-lower, &::-ms-fill-upper {
        //  background: rgba(0, 0, 0, 0.26);
        //  background-color: rgba(0, 0, 0, 0.26);
        // }
        &::-webkit-slider-runnable-track {
          background-color: rgba(0, 0, 0, 0.26);
        }
        &::-moz-range-track {
          background: rgba(0, 0, 0, 0.26);
          background-color: rgba(0, 0, 0, 0.26);
        }
        &::-ms-track, &::-ms-fill-lower, &::-ms-fill-upper {
          background: rgba(0, 0, 0, 0.26);
          background-color: rgba(0, 0, 0, 0.26);
        }
        // &::-webkit-slider-thumb, &::-moz-range-thumb, &::-ms-thumb {
        //  border: 2px solid rgba(0, 0, 0, 0.26);
        //  outline: 2px solid rgb(235, 235, 235);
        //  background-color: rgb(235, 235, 235);
        // }
        &::-webkit-slider-thumb {
          border: 2px solid rgba(0, 0, 0, 0.26);
          outline: 2px solid rgb(235, 235, 235);
          background-color: rgb(235, 235, 235);
        }
        &::-moz-range-thumb {
          border: 2px solid rgba(0, 0, 0, 0.26);
          outline: 2px solid rgb(235, 235, 235);
          background-color: rgb(235, 235, 235);
        }
        &::-ms-thumb {
          border: 2px solid rgba(0, 0, 0, 0.26);
          outline: 2px solid rgb(235, 235, 235);
          background-color: rgb(235, 235, 235);
        }
      }
    }
  }
  &.dark {
    // &::-webkit-slider-runnable-track, &::-moz-range-track, &::-ms-track, &::-ms-fill-lower, &::-ms-fill-upper {
    //  background: rgba(255, 255, 255, 0.3);
    //  background-color: rgba(255, 255, 255, 0.3);
    // }
    &::-webkit-slider-runnable-track {
      background-color: rgba(255, 255, 255, 0.3);
      background-color: rgb(91, 91, 91);
    }
    &::-moz-range-track {
      background: rgba(255, 255, 255, 0.3);
      background-color: rgba(255, 255, 255, 0.3);
    }
    &::-ms-fill-upper {
      background: rgba(255, 255, 255, 0.3);
      background-color: rgba(255, 255, 255, 0.3);
    }
    &::-webkit-slider-thumb, &::-moz-range-thumb, &::-ms-thumb {
      border: 2px solid rgba(255, 255, 255, 0.3);
      background-color: rgb(51, 51, 51);
    }
    &::-webkit-slider-thumb {
      border: 2px solid rgba(255, 255, 255, 0.3);
      background-color: rgb(51, 51, 51);
    }
    // &::-moz-range-thumb, &::-ms-thumb {
    //     border: 2px solid rgba(255, 255, 255, 0.3);
    //     background-color: rgb(51, 51, 51);
    // }
    // &::-ms-thumb {
    //     border: 2px solid rgba(255, 255, 255, 0.3);
    //     background-color: rgb(51, 51, 51);
    // }

    &:active {
      // &::-webkit-slider-runnable-track, &::-moz-range-track, &::-ms-track, &::-ms-fill-lower, &::-ms-fill-upper {
      //  background: darken($secondary-1, 10%);
      // }
      &::-webkit-slider-runnable-track {
        background-color: darken($secondary-1, 10%);
      }
      &::-moz-range-track {
        background: darken($secondary-1, 10%);
        background-color: darken($secondary-1, 10%);
      }
      &::-ms-track, &::-ms-fill-lower, &::-ms-fill-upper {
        background: darken($secondary-1, 10%);
        background-color: darken($secondary-1, 10%);
      }
      // &::-webkit-slider-thumb, &::-moz-range-thumb, &::-ms-thumb {
      //  border: 4px solid darken($secondary-1, 10%);
      //  background-color: darken($secondary-1, 10%);
      // }
      &::-webkit-slider-thumb {
        border: 4px solid darken($secondary-1, 10%);
        background-color: darken($secondary-1, 10%);
      }
      &::-moz-range-thumb {
        border: 4px solid darken($secondary-1, 10%);
        background-color: darken($secondary-1, 10%);
      }
      &::-ms-thumb {
        border: 4px solid darken($secondary-1, 10%);
        background-color: darken($secondary-1, 10%);
      }
    }
    &:disabled {
      // &::-webkit-slider-runnable-track, &::-moz-range-track, &::-ms-track, &::-ms-fill-lower, &::-ms-fill-upper {
      //  background: rgba(255, 255, 255, 0.3);
      //  background-color: rgba(255, 255, 255, 0.3);
      // }
      &::-webkit-slider-runnable-track {
        background-color: rgba(255, 255, 255, 0.3);
        background-color: rgb(91, 91, 91);
      }
      &::-moz-range-track {
        background: rgba(255, 255, 255, 0.3);
        background-color: rgba(255, 255, 255, 0.3);
      }
      &::-ms-track, &::-ms-fill-lower, &::-ms-fill-upper {
        background: rgba(255, 255, 255, 0.3);
        background-color: rgba(255, 255, 255, 0.3);
      }
      // &::-webkit-slider-thumb, &::-moz-range-thumb, &::-ms-thumb {
      //  border: 2px solid rgba(255, 255, 255, 0.3);
      //  outline: 2px solid rgb(51, 51, 51);
      //  background-color: rgb(51, 51, 51);
      // }
      &::-webkit-slider-thumb {
        border: 2px solid rgba(255, 255, 255, 0.3);
        outline: 2px solid rgb(51, 51, 51);
        background-color: rgb(51, 51, 51);
      }
      &::-moz-range-thumb{
        border: 2px solid rgba(255, 255, 255, 0.3);
        outline: 2px solid rgb(51, 51, 51);
        background-color: rgb(51, 51, 51);
      }
      &::-ms-thumb {
        border: 2px solid rgba(255, 255, 255, 0.3);
        outline: 2px solid rgb(51, 51, 51);
        background-color: rgb(51, 51, 51);
      }
      &:active {
        // &::-webkit-slider-runnable-track, &::-moz-range-track, &::-ms-track, &::-ms-fill-lower, &::-ms-fill-upper {
        //  background: rgba(255, 255, 255, 0.3);
        //  background-color: rgba(255, 255, 255, 0.3);
        // }
        &::-webkit-slider-runnable-track {
          background-color: rgba(255, 255, 255, 0.3);
          background-color: rgb(91, 91, 91);
        }
        &::-moz-range-track {
          background: rgba(255, 255, 255, 0.3);
          background-color: rgba(255, 255, 255, 0.3);
        }
        &::-ms-track, &::-ms-fill-lower, &::-ms-fill-upper {
          background: rgba(255, 255, 255, 0.3);
          background-color: rgba(255, 255, 255, 0.3);
        }
        // &::-webkit-slider-thumb, &::-moz-range-thumb, &::-ms-thumb {
        //  border: 2px solid rgba(255, 255, 255, 0.3);
        //  outline: 2px solid rgb(51, 51, 51);
        //  background-color: rgb(51, 51, 51);
        // }
        &::-webkit-slider-thumb {
          border: 2px solid rgba(255, 255, 255, 0.3);
          outline: 2px solid rgb(51, 51, 51);
          background-color: rgb(51, 51, 51);
        }
        &::-moz-range-thumb {
          border: 2px solid rgba(255, 255, 255, 0.3);
          outline: 2px solid rgb(51, 51, 51);
          background-color: rgb(51, 51, 51);
        }
        &::-ms-thumb {
          border: 2px solid rgba(255, 255, 255, 0.3);
          outline: 2px solid rgb(51, 51, 51);
          background-color: rgb(51, 51, 51);
        }
      }
    }
  }
}
// END SLIDER

// MATERIAL DESIGN COMPONENTS
